# SPIGOT
# Build directories
/1.19.1/BuildData/**
/1.19.1/Bukkit/**
/1.19.1/CraftBukkit/**
/1.19.1/Spigot/**
/1.19.1/BuildTools.log.txt

/1.19.2/BuildData/**
/1.19.2/Bukkit/**
/1.19.2/CraftBukkit/**
/1.19.2/Spigot/**
/1.19.2/BuildTools.log.txt

/*.*/apache-maven-3.6.0/
#/*.*/BuildData/**
#/*.*/Bukkit/**
#/*.*/CraftBukkit/**
#/*.*/Spigot/**
/*.*/work/

# Miscellaneous files
#/*.*/BuildTools.log.txt